fastapi>=0.115.0
wheel>=0.46.2                # Latest wheel version
jaraco.context>=6.1.0            # Latest jaraco.context version
uvicorn==0.23.0             # Latest Uvicorn version
pydantic==2.4.0             # Latest Pydantic version
requests==2.31.0            # Already up-to-date             # Latest Boto3 version
boto3>=1.34.0
urllib3>=2.6.3
